body a {
	color: $purple;
}

hr {
	border-top: 1px solid $purple;
	margin-top: 10px;
}

.page-content {
	padding-bottom: 0;
}

.columns {
	margin-top: 0;
}



// Project tiles
.clip-tile {
	height: 270px;
	text-align: center;
	background-size: cover;
	background-position: center;
	color: $purple;
-webkit-box-shadow: 1px 1px 9px 0px rgba(0,0,0,0.53);
-moz-box-shadow: 1px 1px 9px 0px rgba(0,0,0,0.53);
box-shadow: 1px 1px 9px 0px rgba(0,0,0,0.53);
}

.clip-content {
	opacity: 0;
	margin: 0;
	height: 100%;
	padding: 10px;
	padding-top: 100px;
	background-color: rgba(183,217,200,0.8);
	  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
  span {
    font-weight: 200;
  }
}

.clip-tile:hover .clip-content{
	opacity: 1;
	  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease; 
}

@media screen and (max-width: 800px) {
.clip-content {
	opacity: 1;
}


}

section {
	padding-top: 8vh;
	padding-bottom: 30px;
	background-size: cover;
	background-position: bottom;
}

#home {
	min-height: 100vh;
	background-color: $seafoam;
	background-image: url("/images/p-green.png");
	padding-top: 15vh;
}

#work {
	background-color: rgba(100, 81, 100, .85);
	background-image: url("/images/p-purple-work.png");
	padding-bottom: 100px;
}

#resume {
	background-color: $grey-light;
	color: $purple;
	background-image: url("/images/p-purple-resume.png");
	padding-top: 100px;
	padding-bottom: 100px;
	position: relative;
	a:hover {
		color: $seafoam;
	}
}

#about{
    color: white;
    min-height: 800px;
    position: relative;
    margin-top: -850px;
    z-index: 11;
}

.bio-bg {
    min-height: 850px;
    background: transparent;
    position: relative;
}



#logo {
	width: 180px;
	height: auto;
		  -webkit-transition: all 600ms ease;
  -moz-transition: all 600ms ease;
  -o-transition: all 600ms ease;
  transition: all 600ms ease;
}

.headtitle {
	margin-top: 20px;
	margin-bottom: 0;
	color: $purple;
	font-size: 3em;
		  -webkit-transition: all 600ms ease;
  -moz-transition: all 600ms ease;
  -o-transition: all 600ms ease;
  transition: all 600ms ease;
}

.subtitle {
    font-weight: 100;
	font-size: 2.2em;
	text-transform: uppercase;
	letter-spacing: -2px;
	line-height: 10px;
		  -webkit-transition: all 600ms ease;
  -moz-transition: all 600ms ease;
  -o-transition: all 600ms ease;
  transition: all 600ms ease;
}

.back {
	font-weight: 200;
	margin-bottom: 40px;
}

@media screen and (max-width: 979px) {
	.container {
		padding: 20px;
	}
	.parallax-window {
		height: auto;
	}
}


@media screen and (max-width: 480px) {
	#logo {
		width: 160px;
			  -webkit-transition: all 600ms ease;
  -moz-transition: all 600ms ease;
  -o-transition: all 600ms ease;
  transition: all 600ms ease;
	}
	.headtitle {
		font-size: 2em;
			  -webkit-transition: all 600ms ease;
  -moz-transition: all 600ms ease;
  -o-transition: all 600ms ease;
  transition: all 600ms ease;

	}
	.subtitle {
		font-size: 1.5em;
			  -webkit-transition: all 600ms ease;
  -moz-transition: all 600ms ease;
  -o-transition: all 600ms ease;
  transition: all 600ms ease;
	}
	#about {
		p {
			font-size: .8em
		}
	}
}

.cta {
	text-align: center;
	position:absolute; 
	width:100%;
	bottom: 5px;
	p {
		margin-bottom:20px;
		font-weight: 200;
	}
}

.bio {
	position: absolute;
}

.bio-head {
    font-weight: 400;
    font-size: 2.5em;
    color: $seafoam;
}

.bio-text {
    font-weight: 200;
}

.resume-item {
	margin-top: 30px;
	h3 {
	}

	h4 {
	    font-weight: 200;
	    font-size: 1em;
	    margin-bottom:10px;
	}

	p {
    	font-weight: 200;
	}
	hr {
		margin-bottom: 20px;
	}
}
