@media screen and (min-width: 2000px) {
.container {
    max-width: 1400px;
}
}
/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-weight: 400;
    font-size: 1.5em;
    letter-spacing: -1px;
    text-transform: uppercase;
}

//-------- Site Nav --------//

.navbar:not(:last-child){
margin-bottom: 0;
}

nav {
    width: 100%;
    background-color: rgba(230, 231, 232, 0.95);
    -webkit-box-shadow: 1px 4px 1px 0px rgba(88,89,91,0.4);
-moz-box-shadow: 1px 4px 1px 0px rgba(88,89,91,0.4);
box-shadow: 1px 4px 1px 0px rgba(88,89,91,0.4);
padding: 10px;
z-index: 10;
    &.is-fixed {
        position: fixed;
        left: 0;
        right: 0;
        z-index: 100;
    }
}

.navbar-item {
    text-transform: uppercase;
}

.navbar-left .navbar-item:not(:last-child){
    margin-right: 3vw;
}

.nav-link a {
    font-weight: 200;
    font-size: .9em;
    &:hover {
        color: $seafoam;
        text-decoration: none;
    }
}

.menu-trigger {
    display: none;
}

.mobile-nav {
    display:none;
    position: fixed;
    top:46px;
    z-index: 100;
}


@media screen and (min-width: 769px) {
}

@media screen and (max-width: 768px) {
    nav {
        padding-bottom: 0;
    }
    .menu-trigger {
    display: block;
    position: absolute;
    right: 20px;
    top: 17px;
    }
    .nav-link, .navbar-right {
        display: none;
    }
    .mobile-nav .navbar-item:not(.social-link) {
        padding: 20px 0;
    }
    .social-links {
        margin-top: 20px;
        text-align: center;
    }
    .social-link {
        display: inline-block;
        margin-right: 20px;
    }
}


/**
 * Site footer
 */
.footer {
    padding: 10px;
    font-size: .8em;
    background-color: $seafoam;
    margin-bottom: 0;
}

.footer a:not(.icon) {
border-bottom: none;
}

/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
}

.post-link h4{
    display: block;
    font-weight: 400;
    font-size: 1.3em;
    letter-spacing: -1px;
    text-transform: uppercase;
    margin-bottom: 10px;
}



/**
 * Posts
 */

.post {
    color: $purple;
}

.post-header {
    margin-bottom: $spacing-unit;
    margin-top: 40px;
    h4 {
        display:inline-block;
        vertical-align:top;
        margin-left:-9px;
        padding-top:9px;
    }
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
