<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
  {% include navbar.html %}
        <div class="page-content">
            {{ content }}
        </div>
  {% include footer.html %}

    <script src="https://code.jquery.com/jquery-1.12.3.min.js" integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ=" crossorigin="anonymous"></script>
  	<script src="/js/script.js"></script>
  	<script src="/js/vendor.js"></script>
  	<script type="text/javascript">
  		smoothScroll.init();
  	</script>
  </body>

</html>
